<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>アズレン キャラデータ 散布図</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
<link href="./css/style.css" media="screen" rel="stylesheet" type="text/css"/>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120392390-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-120392390-1');
</script>
</head>
<body>
<nav class="header">
<a href="./" class="left">アズレン キャラデータ 散布図</a>
<a href="./usage.html" class="right">使い方</a>
</nav>
<div class="container">
<div id="scatter"></div>
<div id="selector">
	<div id="color">
		<p>色分け</p>
		<div class="radio-group">
			<label v-for="(color, index) in colors" class="label">
				<input v-if="index == 0" type="radio" class="item" name="color" :value="color" checked="checked">
				<input v-else  type="radio" class="item" name="color" :value="color">
				<span v-text="color"></span>
			</label>
		</div>
		<div id="color-legend">
		</div>
	</div>
	<div id="axis">
		<div id="axisy">
			<p>縦軸</p>
			<div class="radio-group">
				<label v-for="(type, index) in types" class="label">
					<input v-if="index == 0" type="radio" class="item" name="vertical" :value="type" checked="checked">
					<input v-else  type="radio" class="item" name="vertical" :value="type">
					<span v-text="type"></span>
				</label>
			</div>
		</div>
		<div id="axisx">
			<p>横軸</p>
			<div class="radio-group">
				<label v-for="(type, index) in types" class="label">
					<input v-if="index == 1" type="radio" class="item" name="horizon" :value="type" checked="checked">
					<input v-else  type="radio" class="item" name="horizon" :value="type">
					<span v-text="type"></span>
				</label>
			</div>
		</div>
	</div>
</div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//d3js.org/d3.v5.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.js"></script>
<script src="//cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
<script src="./script/script.js"></script>
</body>
</html>
