* {
  margin: 0;
  padding: 0;
}

body {
  font-size:12px;
}

#table {
	border-top: #e3e3e3 1px solid;
	clear: both;
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
	overflow-y: scroll;
	height: 500px;
}

table {
	width: 100%;;
	border-collapse: collapse;
	font-size: .8em;
}
th {
	border: #e3e3e3 1px solid;
	text-align: left;
	background: #f7f7f7;
	padding: 10px;
	font-weight: normal;
}

tbody > tr {
	cursor: pointer;
}

tbody > tr.checked {
	background: #FFCCBC;
}

tr th:nth-of-type(1),
tr th:nth-of-type(9),
tr th:nth-of-type(11),
tr th:nth-of-type(14),
tr th:nth-of-type(15),
tr th:nth-of-type(16),
tr th:nth-of-type(18){
	display: none;
}

td {
	border-bottom: #e3e3e3 1px solid;
	border-right: #e3e3e3 1px solid;
	border-left: #e3e3e3 1px solid;
	text-align: left;
	padding: 10px;
}

tr td:nth-of-type(1),
tr td:nth-of-type(9),
tr td:nth-of-type(11),
tr td:nth-of-type(14),
tr td:nth-of-type(15),
tr td:nth-of-type(16),
tr td:nth-of-type(18){
	display: none;
}

.pie_chart {
	padding: 10px;
	float: left;
}

.title {
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
}

.label {
	font-size: .7em;
	fill: white;
	pointer-events: none;
}

.name, .value, .percentage {
	font-size: .8em;
}

path{
	stroke: #fff;
}

.pie, .title, .fan, .item{
	cursor : pointer;
}

.fan:hover, .item:hover {
	opacity:0.8;
}

.container {
	margin-top: 50px;
}

.header {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background-color: #0D47A1;
	vertical-align: middle;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.header span {
	font-size: 1.2em;
	color: #eee;
	line-height: 40px;
	display: block;
}

.header a{
	font-size: 1.5em;
	text-decoration: none;
	color: #fff;
	line-height: 40px;
}

.left {
	padding-left: 10px;
	float: left;
}

.right {
	float: right;
	padding-right: 10px;
}

#selected {
	margin-left: 20px;
}

#selected label {
	position: relative;
	padding-top: 3px;
	padding-bottom: 3px;
	vertical-align: middle;
}

#selected input {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

#selected span {
	padding-left: 20px;
	font-size: 14px;
    font-weight: bold;
}

.tooltip {
    position: absolute;
    width: auto;
    height: auto;
    pointer-events: none;
    background: #fff;
    padding: 5px;
    border: solid 1px #ccc;
    border-radius: 3px;
}